In [21]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['d','f','e'],
             index=['台北','台中','台南','高雄'])
frame

           d         f         e
台北 -0.846645  0.356029 -0.847800
台中 -0.147162  0.681752 -1.923677
台南 -0.281557 -0.557241  1.012062
高雄  0.722389  0.968196  0.255395

In [22]:
np.absolute(frame)

           d         f         e
台北  0.846645  0.356029  0.847800
台中  0.147162  0.681752  1.923677
台南  0.281557  0.557241  1.012062
高雄  0.722389  0.968196  0.255395

In [23]:
for item in frame:
    print(frame[item])

台北   -0.846645
台中   -0.147162
台南   -0.281557
高雄    0.722389
Name: d, dtype: float64
台北    0.356029
台中    0.681752
台南   -0.557241
高雄    0.968196
Name: f, dtype: float64
台北   -0.847800
台中   -1.923677
台南    1.012062
高雄    0.255395
Name: e, dtype: float64

In [24]:
#使用for in 讀取DataFrame
for column in frame:
    for item in frame[column]:
        print(item)
    print("=======")

-0.8466448825039482
-0.14716184679740413
-0.2815566551655012
0.7223889414843817
=======
0.3560286260333884
0.6817517323528106
-0.5572406490779694
0.9681961334187026
=======
-0.8478004290311741
-1.923677160043958
1.012062268916311
0.25539505228411963
=======

In [25]:
for column in frame:
    print(np.abs(frame[column]))

台北    0.846645
台中    0.147162
台南    0.281557
高雄    0.722389
Name: d, dtype: float64
台北    0.356029
台中    0.681752
台南    0.557241
高雄    0.968196
Name: f, dtype: float64
台北    0.847800
台中    1.923677
台南    1.012062
高雄    0.255395
Name: e, dtype: float64

In [26]:
np.max(frame,axis=0)

d    0.722389
f    0.968196
e    1.012062
dtype: float64

In [27]:
np.max(frame,axis=1)

台北    0.356029
台中    0.681752
台南    1.012062
高雄    0.968196
dtype: float64

In [28]:
#使用numpy的function
np.max(frame,axis=0) - np.min(frame,axis=0)

d    1.569034
f    1.525437
e    2.935739
dtype: float64

In [29]:
#使用dataFrame的method
frame.max(axis=0) - frame.min(axis=0)

d    1.569034
f    1.525437
e    2.935739
dtype: float64

In [30]:
#自定義function
def fun1(series):
    print(series.name)
    return series.max() - series.min() + 1

frame.apply(fun1)

d
f
e

d    2.569034
f    2.525437
e    3.935739
dtype: float64