In [3]:
import numpy as np
import pandas as pd 

s1=pd.Series(np.random.randn(9),
          index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3]]
          )
s1

a  1    0.039965
   2   -0.182410
   3   -0.968611
b  1   -1.238471
   2    0.113779
c  3   -0.238909
   1   -2.327037
d  2   -0.817860
   3    0.862671
dtype: float64

In [4]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
display(s1)

a  1    0.039965
   2   -0.182410
   3   -0.968611
b  1   -1.238471
   2    0.113779
c  3   -0.238909
   1   -2.327037
d  2   -0.817860
   3    0.862671
dtype: float64

In [6]:
s1['a']

1    0.039965
2   -0.182410
3   -0.968611
dtype: float64

In [7]:
s1[['b','c']]

b  1   -1.238471
   2    0.113779
c  3   -0.238909
   1   -2.327037
dtype: float64

In [9]:
s1['b':'d']

b  1   -1.238471
   2    0.113779
c  3   -0.238909
   1   -2.327037
d  2   -0.817860
   3    0.862671
dtype: float64

In [11]:
display(s1)
s1['a'][3]

a  1    0.039965
   2   -0.182410
   3   -0.968611
b  1   -1.238471
   2    0.113779
c  3   -0.238909
   1   -2.327037
d  2   -0.817860
   3    0.862671
dtype: float64

-0.9686106837016389

In [12]:
s1.loc['b',1]

-1.2384705003169854

In [14]:
s1.unstack()

          1         2         3
a  0.039965 -0.182410 -0.968611
b -1.238471  0.113779       NaN
c -2.327037       NaN -0.238909
d       NaN -0.817860  0.862671

In [15]:
s1.unstack(level=0).T.stack()

a  1    0.039965
   2   -0.182410
   3   -0.968611
b  1   -1.238471
   2    0.113779
c  1   -2.327037
   3   -0.238909
d  2   -0.817860
   3    0.862671
dtype: float64