In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40,high=101,size=(50,5))
scores_df = pd.DataFrame(scores,
             columns=['國文','英文','數學','地理','歷史'],
             index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min')
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目  國文   英文  數學   地理   歷史   總分    平均    名次
學號
11  73   43  60   49   42  267  53.4   1.0
37  63   48  51   57   49  268  53.6   2.0
15  62   80  41   64   47  294  58.8   3.0
5   54   63  55   80   53  305  61.0   4.0
6   81   61  40   76   54  312  62.4   5.0
19  70   44  47   94   60  315  63.0   6.0
45  64   57  50   86   60  317  63.4   7.0
21  43   48  67   96   63  317  63.4   7.0
17  48   75  54   90   52  319  63.8   9.0
9   53   40  92   57   78  320  64.0  10.0
4   57   59  77   57   71  321  64.2  11.0
24  53   60  85   66   58  322  64.4  12.0
27  47   58  46   99   72  322  64.4  12.0
12  65   56  83   47   72  323  64.6  14.0
42  76   43  67   63   77  326  65.2  15.0
16  45   55  44   97   85  326  65.2  15.0
30  56   42  75   75   81  329  65.8  17.0
39  57   72  82   79   42  332  66.4  18.0
20  50   78  53   65   86  332  66.4  18.0
41  61   75  79   47   71  333  66.6  20.0
8   62   93  46   44   92  337  67.4  21.0
44  86   81  64   53   54  338  67.6  22.0
34  67   92  42   74   64  339  67.8  23.0
29  67   54  45   88   87  341  68.2  24.0
35  94   48  55   95   49  341  68.2  24.0
49  81   43  92   68   60  344  68.8  26.0
40  81   82  64   60   59  346  69.2  27.0
2   43   97  74   63   69  346  69.2  27.0
38  47   82  85   45   90  349  69.8  29.0
26  96   88  62   45   60  351  70.2  30.0
1   57   46  79   89   81  352  70.4  31.0
10  85   44  80   56   88  353  70.6  32.0
3   79   57  71   55   93  355  71.0  33.0
18  72   48  92   50   94  356  71.2  34.0
23  59   63  51  100   84  357  71.4  35.0
32  90   86  57   73   51  357  71.4  35.0
28  97   42  67   62   90  358  71.6  37.0
36  68   62  45   88   97  360  72.0  38.0
7   88   40  95   93   54  370  74.0  39.0
14  70   59  51   99   93  372  74.4  40.0
25  51   85  48   96   93  373  74.6  41.0
47  81   98  48   95   57  379  75.8  42.0
50  84   94  79   53   79  389  77.8  43.0
31  80  100  64   68   83  395  79.0  44.0
22  87   95  78   94   43  397  79.4  45.0
43  68   63  93  100   75  399  79.8  46.0
13  86   86  81   50  100  403  80.6  47.0
46  97   80  82   94   53  406  81.2  48.0
48  77   80  88   77   94  416  83.2  49.0
33  92   76  77   97   87  429  85.8  50.0

In [3]:
def fun1(series:pd.Series)->int:
    min = series.min()
    median = series.median()
    max = series.max()
    s1 = pd.Series([min,median,max],index=["最低分","中間值","最高分"])
    return s1
    
subject_df = scores_df[['國文','英文','數學','地理','歷史']]

subject_df.apply(fun1)

科目     國文     英文    數學     地理     歷史
最低分  43.0   40.0  40.0   44.0   42.0
中間值  68.0   62.5  65.5   73.5   71.5
最高分  97.0  100.0  95.0  100.0  100.0

In [4]:
subject_df.T#欄列對調

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,57,43,79,57,54,81,88,62,53,85,...,61,76,68,86,64,97,81,77,81,84
英文,46,97,57,59,63,61,40,93,40,44,...,75,43,63,81,57,80,98,80,43,94
數學,79,74,71,77,55,40,95,46,92,80,...,79,67,93,64,50,82,48,88,92,79
地理,89,63,55,57,80,76,93,44,57,56,...,47,63,100,53,86,94,95,77,68,53
歷史,81,69,93,71,53,54,54,92,78,88,...,71,77,75,54,60,53,57,94,60,79

In [5]:
def fun2(series:pd.Series)->pd.Series:
    lessThan60 = series[series<60].count()
    return pd.Series([lessThan60],index=['不及格科目'])

display(subject_df.T)
subject_df.T.apply(fun2)

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,57,43,79,57,54,81,88,62,53,85,...,61,76,68,86,64,97,81,77,81,84
英文,46,97,57,59,63,61,40,93,40,44,...,75,43,63,81,57,80,98,80,43,94
數學,79,74,71,77,55,40,95,46,92,80,...,79,67,93,64,50,82,48,88,92,79
地理,89,63,55,57,80,76,93,44,57,56,...,47,63,100,53,86,94,95,77,68,53
歷史,81,69,93,71,53,54,54,92,78,88,...,71,77,75,54,60,53,57,94,60,79

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,2,1,2,3,3,2,2,2,3,2,...,1,1,0,2,2,1,2,0,1,1

In [8]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()    
    chinese = "及格" if(series['國文'] >= 60) else "不及格"
    english = "及格" if(series['英文'] >= 60) else "不及格"

    return pd.Series([lessThen60,chinese,english],index=['不及格科目',"國文","英文"])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,57,43,79,57,54,81,88,62,53,85,...,61,76,68,86,64,97,81,77,81,84
英文,46,97,57,59,63,61,40,93,40,44,...,75,43,63,81,57,80,98,80,43,94
數學,79,74,71,77,55,40,95,46,92,80,...,79,67,93,64,50,82,48,88,92,79
地理,89,63,55,57,80,76,93,44,57,56,...,47,63,100,53,86,94,95,77,68,53
歷史,81,69,93,71,53,54,54,92,78,88,...,71,77,75,54,60,53,57,94,60,79

   不及格科目   國文   英文
學號
1      2  不及格  不及格
2      1  不及格   及格
3      2   及格  不及格
4      3  不及格  不及格
5      3  不及格   及格
6      2   及格   及格
7      2   及格  不及格
8      2   及格   及格
9      3  不及格  不及格
10     2   及格  不及格
11     3   及格  不及格
12     2   及格  不及格
13     1   及格   及格
14     2   及格  不及格
15     2   及格   及格
16     3  不及格  不及格
17     3  不及格   及格
18     2   及格  不及格
19     2   及格  不及格
20     2  不及格   及格
21     2  不及格  不及格
22     1   及格   及格
23     2  不及格   及格
24     2  不及格   及格
25     2  不及格   及格
26     1   及格   及格
27     3  不及格  不及格
28     1   及格  不及格
29     2   及格  不及格
30     2  不及格  不及格
31     0   及格   及格
32     2   及格   及格
33     0   及格   及格
34     1   及格   及格
35     3   及格  不及格
36     1   及格   及格
37     4   及格  不及格
38     2  不及格   及格
39     2  不及格   及格
40     1   及格   及格
41     1   及格   及格
42     1   及格  不及格
43     0   及格   及格
44     2   及格   及格
45     2   及格  不及格
46     1   及格   及格
47     2   及格   及格
48     0   及格   及格
49     1   及格  不及格
50     1   及格   及格

In [10]:
s1 = subject_df.T[3]
"及格" if s1['國文'] >= 60 else "不及格"

'及格'